
<div class="screen-container">
  <!--dodajemy go tu aby zobaczyc czy komponenty nizsze go przejma-->
  <button class="button button-primary" style="margin-bottom: 15px"
          (click)="loginAsJohn()">Login As John</button>
  <!--jezeli damy dwa requsty na raz do firebase to dane nie beda do konca aktualne-->
    <course-detail-header [course]="course$ |async" [lessons]="lessons$ |async"
       ></course-detail-header>

  <!--zamieniamy ta czesc na czesc prezentacyjna-->
  <lessons-list [lessons]="lessons$ |async"></lessons-list>

</div>


